 *{
            letter-spacing: 1px;
            margin: 0;
            padding: 0;
        }
        .container{
            height: 750px;
            width: 800px;
            margin: 100px;
            background-color: aquamarine;
           
            border-radius: 15px ;
        }
        h1{
            padding-top: 10px;
            text-align: center;
            color: green;
            font: bolder;
        }
        .steps{
    display: flex;
    justify-content: space-between;
       }

      .step{
    width: 33%;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid lightgray;
    color: gray;
    font-weight: 600;
    }

    .active{
    border-bottom: 4px solid green;
    color: green;
     }
    
        p{
            text-align: center;
            color: balck;
            margin-top: 5px;
            padding-top: 10px;
            opacity: 0.7;
        }
        .hero{
            padding-top: 10px;
            height: 500px;
            width: 550px;
            background-color: white;
            border-radius: 15px;
            margin-left: 85px;
           
            
        }
        .heroin{
            padding-top: 6px;
            display: inline-block;
            opacity: 0.7;
            letter-spacing: 1px;
            font: bolder;
          
        }
        .hero .heroin{
            margin: 14px;

        }
        .mb-3{
            padding-left: 15px;
            padding-right: 15px;
        }
        .btn-1{
            margin-left: 20px;
            padding-left: 10px;
             padding-right: 10px;
             padding-top: 4px;
               padding-bottom: 4px;
               border-radius: 5px;
               letter-spacing: 1px;
               font: bolder;
               border: 1px solid gray;
        }
        .btn-2{
            margin-top: 1px;
            margin-left: 300px;
            padding-left: 10px;
             padding-right: 10px;
             padding-top: 1px;
               padding-bottom: 4px;
               border-radius: 5px;
               letter-spacing: 1px;
               color: white;
               background-color: green;
               font: bolder;
               border: none;
        }
        a{
            text-decoration: none;
            color :black;
            opacity: 0.8;
        }
        .m2{
            margin-left: 50px;
            padding-left: 150px;
            padding-top: 75px;
            word-spacing: 2px;
        }